@use "sass:math";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

$ht: 100vh;
$wt: 100vw;
$col-1: rgb(101, 89, 127);
$col-2: rgb(70, 57, 102);
$col-3: rgb(242, 183, 60);
$col-4:rgb(68,57,102);
// div {
//   border: 1px solid white;
// }
.cal-body {
  //margin: auto;
  height: $ht;
  width: $wt;
 // margin-top: 20vh;
  .display {
    width: $wt;
    height: math.div($ht, 6);
    background-color: $col-2;
  }
  .input-part {
    width: $wt;
    height: math.div($ht, 6);
    display: flex;
   
    
    .action {
      width: math.div($wt, 4);
      height: math.div($ht, 6);
      display: flex;
      justify-content: center;
      align-items: center;
      h3{
          color: white;
          font-size: 2rem;
      }
    }
  }
}

#num-4,
#num-3,
#num-2,
#num-1,
#num-5,
#num-6,
#num-7,
#num-8,
#num-9,
#clear,
#zero,
#dot {
 
  background-color: $col-1;
}
#subtract,#multiply,#plus,#divide,#equal{
    background-color: $col-3;
}
#all-clear,#sign,#modulo{
    background-color: $col-4;
}